name: ci

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Build Docker image
        run: docker build . --file Dockerfile --tag local
      - 
        name: Run test file(s)
        run: docker run local python3 hello-py-docker.py
